astralsorcery
asm
mods
cache
caches
saves
coremods
screenshots
llibrary
texturepacks
journeymap
local
vintagefix
TombManyGraves
logs
server-resource-packs
options.txt
crafttweaker.log
BotaniaVars.dat
ExtraBotanyVars.dat
dropt.log
icon.png
OpenComputersMod-1.8.6-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.6-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.8.6-54-libjnlua54-windows-x86_64.dll
patchouli_data.json
roots.log
fancymenu_data/last_world.fmdata
